body {
  height: 100%;
  background-color: #233237;
  margin: 0;
  font-family: sans-serif;
}

.navlogin {
  padding: 30px 50px;
  overflow: auto;
}

.login {
  background-color: #984B43;
  float: right;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #EAC67A;
  text-decoration: none;
}

.logo {
  float: left;
  font-size: 28px;
  color: #984B43;
  text-decoration: none;
}

.centeralign {
  width: 90%;
  margin: 0 auto;
}

.header {
  color: #EAC67A;
}

.center {
  text-align: center;
}

.form {
  width: 50%;
  margin: 0 auto;
}

.searchbar {
  width: 70%;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.rangeform {
  width: 50%;
  margin: 0 auto;
}

.shipimage {
  width: 512px;
  height: 312px;
}

.information {
  color: #EAC67A;
}

.name {
  color: #EAC67A;
}

.year {
  color: #EAC67A;
}

.operator {
  color: #EAC67A;
}

.manufactor {
  color: #EAC67A;
}

.capacity {
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  font-size: 14px;
}

.error {
  font-size: 44px;
}

.loginform {
  float: right;
  padding: 10px 20px;
}

.button {
  background: #984B43;
  padding: 10px;
  border-radius: 5px;
  color: #EAC67A;
  font-size: 14px;
  text-decoration: none;
  margin: 0px 5px;
  border: none;
}

.submit {
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 5px;
  color: #EAC67A;
  background: #984B43;
  border: none;
  margin: 0px 5px;
}

.loginfield {
  width: 180px;
  height: 30px;
  padding-left: 10px;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0px 5px;
}

.signupfield {
  width: 25%;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin: 10px;
}

.signup {

}

.errorlogin {
  float: right;
  color: red;
  font-size: 10px;
  display: block;
}

.summary {
  margin: 0 auto;
}

.select {
  padding: 20px;
}

.capacity {
  width: 30%;
  height: 20px;
}

.spacer {
  margin: 40px 0;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}

.editbar {
  width: 30%;
  height: 40px;
  padding-left: 10px;
  border-radius: 5px;
  border: none;
  margin-top: 40px;
}

.file {
  background-color: #984B43;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #EAC67A;
  margin-top: 40px;
}

.editsubmit {
  background: #984B43;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #EAC67A;
  font-size: 14px;
  text-decoration: none;
  margin-top: 40px;
}

.delete {
  text-align: center;
  padding-top: 200px;
  overflow: visible;
}
